:root {
  --yellow-color: #eec128;
  --light-yellow: #eec028;
  --dark-yellow-color: #a69456;
  --banana-yellow: #ffe599;
  --grey-color: #d3d3d3;
  --grey-white-color: #dad9d9;
  --white-color: #fff;
  --black-color: #273a33;
  --dark-grey-color: #707070;
  --grey-tone-color: #adadad;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
}

/* header section  */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex !important;
}

.nav-mobile {
  width: 100%;
  height: 100vh;
  background-color:#707070;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.nav-mobile .cross img {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 30px;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  filter: invert(82%) sepia(68%) saturate(632%) hue-rotate(337deg) brightness(98%) contrast(91%);
}

.nav-mobile .container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100%;
  padding-right: 100px;
}

/* ===============================*\
        Transitions/Animations
*\=============================== */

/* Adds a hover effect to a link by animating a line that starts from the bottom center of the link and moves towards both the left and right edges */
.bottom-nav a {
  position: relative;
  padding-bottom: 5px;
}

.bottom-nav a::before,
.bottom-nav a::after {
  content: '';
  width: 100%;
  transform-origin: bottom; /* modify transform origin to start from right */
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  background-color: #eec028;
  height: 3px;
  bottom: 1px;
  right: 0; /* modify left to right */
  position: absolute;
}

.bottom-nav a:hover::before,
.bottom-nav a:hover::after {
  transform-origin: bottom left; /* modify transform origin to move to left */
  transform: scaleX(1);
}

.bottom-nav a:hover::after {
  transition-delay: 0.2s; /* add delay to start animation after :before */
}

/* ===============================*\
      End Transitions/Animations
*\=============================== */

.bottom-nav li a {
  color: var(--black-color);
  text-decoration: none;
}

/* ===============================*\
        Transitions/Animations
*\=============================== */

/* transition- increase font size and change color on hover */
.bottom-nav a:hover {
  color: #707070;
  cursor: pointer;
  transform: scale(1.15);
  font-size: 1.3em;
}

.nav-mobile .container li a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 2em;
}

.main-nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.footer-logo img {
  width: 100%;
  border-radius: 20px;
}

.main-nav .icon-nav {
  height: 72px;
  display: none;
}

/* change color of menu */
.icon-menu-mobile img {
  filter: invert(90%) sepia(71%) saturate(2951%) hue-rotate(333deg) brightness(97%) contrast(91%);
  height: 66%;
  object-fit: cover;
}

.main-nav .icon-nav img {
  height: 100%;
  object-fit: cover;
}

/* move mobile menu to the right */
.icon-menu-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.bottom-nav {
  list-style-type: none;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

/* headline */
#headline {
  width: 100%;
  padding: 25px 0;
}

.headline-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #273a33;
  align-items: center;
  padding-bottom: 15px;
}

.headline-title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.headline-subtitle {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  color: #eec028;
}

.headline-description {
  padding: 16px;
  border: 2px solid #eec028;
  color: #273a33;
  text-align: center;
  max-width: 100%;
  margin: 0 16px;
  border-radius: 8px;
  font-size: 1.2rem;
}

/* footer */
#footer {
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 25px;
  padding-top: 15px;
  align-items: center;
}

.footer-logo {
  width: 100px;
  border-radius: 20px;
}

.footer-content p {
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 10px;
  color: var(--black-color);
}

/* desktop version */
@media all and (min-width: 768px) {
  /* home page  */

  /* header  */
  .main-nav .icon-nav,
  .main-nav .bottom-nav {
    display: flex;
  }

  .main-nav .icon-menu-mobile {
    display: none;
  }

  .nav-mobile {
    display: none !important;
  }

  /* headline */
  #headline {
    padding: 60px 0;
  }

  .headline-title {
    font-size: 3.5rem;
  }

  /* footer */
  #footer {
    display: flex;
  }

  .about-footer .footer-content p {
    color: var(--black-color);
  }

  @media only screen and (max-width: 767px) {
    #footer {
      display: none;
    }
  }
}
